h2 {
    color: blueviolet; 
    font-family: sans-serif; 
    text-align: center;
}

h1{ 
    color: blueviolet;
    font-family: sans-serif; 
    text-align: center;
}

h5{ 
    color: black;
    font-family: sans-serif; 
    text-align: center;
}

p{
    color: violet; 
    font-family: sans-serif;
}

div{
    background: #DCDCDC;
    width: 45%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

body{
    background: White; 
    margin: 4%;
    justify-content: center;
    align-items: center;
}

section{
    background: #E6E6FA;
    width: 45%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header{
    background: #F5F5F5;
    width: 45%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.centralizado{
    display: flex;
  justify-content: center;
  align-items: center;
  width:600px;
  height:180px;
  margin:auto;
  font-family:sans-serif;
}
